# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtualenv
env/
venv/
ENV/
.env

# Node.js
node_modules/
npm-debug.log*

# Database data (Docker)
volumes/

# OS files
.DS_Store
Thumbs.db
